* {
  user-select: none;
}

.navBar {
  background-color: #26327a;
  color: white;
  display: flex;
  padding: 0px 12px;
  justify-content: center;
  height: 50px;
  align-items: center;
}

.menuLabel:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.image {
  height: 150px;
}

.navMenu {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin: 8px;
}

.navMenu li {
  padding: 8px 20px;
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-50%);
  }

  100% {
    transform: translateY(1);
  }
}

.navExpanded {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: #26327a;
  margin: 0;
  padding: 0;
}

.navExpanded li {
  padding: 10px;
}
